<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProfile name="local">
        <appender name="LOCAL_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
            </encoder>
        </appender>

        <logger name="com.cargo.booking" level="DEBUG"/>

        <root level="INFO">
            <appender-ref ref="LOCAL_CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="dev | prod">
        <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
                <providers>
                    <timestamp>
                        <fieldName>timestamp</fieldName>
                        <timeZone>UTC</timeZone>
                    </timestamp>
                    <logLevel>
                        <fieldName>level</fieldName>
                    </logLevel>
                    <loggerName>
                        <fieldName>logger</fieldName>
                    </loggerName>
                    <message>
                        <fieldName>message</fieldName>
                    </message>
                    <threadName>
                        <fieldName>thread</fieldName>
                    </threadName>
                    <mdc>
                        <fieldName>mdc</fieldName>
                    </mdc>
                </providers>
            </encoder>
        </appender>

        <logger name="com.cargo.booking" level="INFO"/>
    </springProfile>

    <springProfile name="dev">
        <root level="INFO">
            <appender-ref ref="JSON_CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="prod">
        <root level="WARN">
            <appender-ref ref="JSON_CONSOLE"/>
        </root>
    </springProfile>
</configuration>
